.text {
  font-size: 40px;
  font-family: 'Inria Sans', sans-serif;
  text-align: center;
}

.btn-opcion {
  background-color: #58FFC2;
  color: black;
  width: 150px;
  margin: 10px;
}

.btn-ready {
  background-color: #6358FF;
  color: white;
  margin-top: 15px;
}
